
<br/>
<div class="description">{{ 'The "Dashboard" page is designed for organizing your project. You can mainly see translations progress on Loco from this screen, this is also where you\'ll get an overview of your module configuration.'|t }}</div>

<div class="description">{{ 'If you\'re a translator, clicking the "Start translating on Loco" below to open the translation editor.'|t }}</div>
<br/>

<div class="system-status-general-info">
  <h2 class="system-status-general-info__header">{{ 'General Loco Information'|t }}</h2>
  <div class="system-status-general-info__items">

    {# Project #}
    <div class="system-status-general-info__item">
      <span class="system-status-general-info__item-icon system-status-general-info__item-icon--database"></span>
      <div class="system-status-general-info__item-details">
        <h3 class="system-status-general-info__item-title">{{ variables.project.name|capitalize|default('Loco'|t) }}</h3>
        <div class="description">{{ 'Your project overview on Loco.'|t }}</div>

        <div class="description">{{ '<strong>@count</strong> locales'|t({'@count': variables.locales|length}) }}</div>
        <div class="description">{{ '<strong>@count</strong> assets'|t({'@count': variables.assets|length}) }}</div>

        {% if variables.project.url %}
        <ul class="action-links">
          <li><a href="{{ variables.project.url }}" target="_blank" class="button button--primary button--small">{{ 'Start translating on Loco'|t }}</a></li>
        </ul>
        {% endif %}

      </div>
    </div>

    {# Translation progress #}
    <div class="system-status-general-info__item">
      <span class="system-status-general-info__item-icon system-status-general-info__item-icon--server"></span>
      <div class="system-status-general-info__item-details">
        <h3 class="system-status-general-info__item-title">{{ 'Translation progress'|t }}</h3>
        <div class="description">{{ 'The progress of an individual locale shows further detail about the portions that are translated & untranslated into Loco.'|t }}</div>
        <br/>

        {% for locale in variables.locales %}
          <h4 class="system-status-general-info__sub-item-title">{{ locale.name }}</h4>

          {% set percent = (locale.progress.translated / variables.assets|length * 100)|number_format(2, '.') %}
          <div class="progress" data-drupal-progress="">
            <div class="progress__track">
              <div class="progress__bar progress__still" style="width: {{ percent }}%"></div>
            </div>
            <div class="progress__percentage">{{ percent }}%</div>
            <div class="progress__description">{{ '@translated/@total translated assets'|t({'@translated': locale.progress.translated,'@total': variables.assets|length}) }}
              <small>
                (<a href="{{ loco_translate_export(locale.code) }}" target="_blank" download>{{ 'download from loco'|t }}</a>)
              </small>
          </div>
        </div>

        {% if not loop.last %}
        <br/>
        <br/>
        {% endif %}
      {% endfor %}
    </div>

  </div>

  {# Push #}
  <div class="system-status-general-info__item">
    <span class="system-status-general-info__item-icon system-status-general-info__item-icon--clock"></span>
    <div class="system-status-general-info__item-details">
      <h3 class="system-status-general-info__item-title">{{ 'Last Push'|t }}</h3>
      <div class="description">{{ 'Keep track of the last push to Loco by locales.'|t }}</div>

      {% for push_last in variables.push_last %}
      <p>{{ push_last }}</p>
      {% endfor %}
    </div>
  </div>

  {# Pull #}
  <div class="system-status-general-info__item">
    <span class="system-status-general-info__item-icon system-status-general-info__item-icon--clock"></span>
    <div class="system-status-general-info__item-details">
      <h3 class="system-status-general-info__item-title">{{ 'Last Pull'|t }}</h3>
      <div class="description">{{ 'Keep track of the last pull from Loco by locales.'|t }}</div>

      {% for pull_last in variables.pull_last %}
      <p>{{ pull_last }}</p>
      {% endfor %}
    </div>
  </div>
  </div>
</div>

<div class="system-status-report">
  <div class="system-status-report__requirements-group">
  <h3>{{ 'Summary'|t }}</h3>


    <details class="system-status-report__entry system-status-report__entry {% if variables.versions.api != variables.versions.library %}color-warning{% endif %}" open="open">
      <summary class="system-status-report__status-title system-status-report__status-icon {% if variables.versions.api != variables.versions.library %}system-status-report__status-icon--warning{% endif %}" role="button" aria-expanded="true">
        {{ 'Loco update status'|t }}
      </summary>
      <div class="system-status-report__entry__value">
        {% if variables.versions.api != variables.versions.library %}
          {{ 'Update available'|t }}
          <div class="description">
            {{ 'The Loco API (@api-version) and the Loco SDK (@sdk-version) missmatch.'|t({'@api-version': variables.versions.api, '@sdk-version': variables.versions.library}) }}
            {{ 'Please upgrade your Loco SDK to the latests version.'|t }}
          </div>
        {% else %}
          {{ 'No update data available'|t }}
        {% endif %}
      </div>
    </details>

    {% for requirement in variables.requirements %}
      <details class="system-status-report__entry system-status-report__entry {% if requirement.severity %}color-warning{% endif %}" open="open">
        <summary class="system-status-report__status-title system-status-report__status-icon {% if requirement.severity %}system-status-report__status-icon--warning{% endif %}" role="button" aria-expanded="true">
          {{ requirement.title }}
        </summary>
        <div class="system-status-report__entry__value">
          {{ requirement.value }}
          <div class="description">
            {{ requirement.description }}
          </div>
        </div>
      </details>
    {% endfor %}
  </div>
</div>
